*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}
.container{
  width: 100vw;
  min-height: 100vh;
  

}
.footer{
 
  bottom: 0;
  left: 0;
  width: 100%;
  background: #91C9FE;
  text-align: center;
  background-color:  #91C9FE;

}